.AuthNavBar {
    display: grid;
    grid-template-columns: 50% 1fr 1fr 1fr;
    grid-template-rows: 12vh;
    width: 100vw;
}

.UnauthNavBar {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 12vh;
    width: 100vw;
}

.name {
    display: inline-flex;          /* Changed to inline-flex for centering text */
    justify-content: center;       /* Centers horizontally */
    align-items: center;           /* Centers vertically */
    padding: 2px 6px;              /* Padding similar to buttons */
    text-align: center;    
    box-sizing: border-box;
    border-radius: 6px;
    margin: 1vw 1vw 1vw 1vw;

    font-size: 4vh;
    color: white;
    background-color: black;
}

.linkButton {
    display: inline-flex;          /* Changed to inline-flex for centering text */
    justify-content: center;       /* Centers horizontally */
    align-items: center;           /* Centers vertically */
    text-align: center;    
    box-sizing: border-box;
    margin: 1vw;
    padding: 2px 6px;              /* Padding similar to buttons */

    border: solid;
    border-radius: 6px;

    font-size: 4vh;
    color: black;
    background-color: white;
    text-decoration: none;
}

.linkButton:hover {
    background-color: lightgray;
}

.navButton{
    margin: 1vw 1vw 1vw 1vw;
    font-size: 4vh;
    border: solid;
    border-radius: 6px;
    background-color: white;
}

.navButton:hover {
    background-color: lightgray;
}