.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.mainTitle {
    font-optical-sizing: auto;
    font-size: 45pt;
    background: black;
    border-radius: 14px;
    padding: 30px;

}

.startFindBtn {
    font-size: 45pt;
    border-color: transparent;
    padding: 0px 80px;
    width: fit-content;
    color: rgba(0, 0, 0, 0.727);
    background-color: rgba(0, 0, 0, 0);
}
.startFindBtn:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.499);
}

.loginBtn {
    font-size: 20pt;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.727);
    background: transparent;
    
}

.loginBtn:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.499);

}