body {
  font-family: Arial, Helvetica, sans-serif;

  color: white;
  background: linear-gradient(0deg, #c03010, #ff3010);
  height: 100vh;
  width: 100vw;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
}
